## Compiled JavaScript files
lib/**/*.js
lib/**/*.json
lib/**/*.js.map

# Typescript v1 declaration files
typings/

node_modules/

serviceAccountKey.production.json
serviceAccountKey.development.json

.runtimeconfig.json
