{
  "type": "service_account",
  "project_id": "open-feedback-42",
  "private_key_id": "MISSING KEY ID",
  "private_key": "-----BEGIN PRIVATE KEY-----\n MISSING KEY gserviceaccount.com",
  "client_email": "fixxxx@open-feedbxxx.iam.gserviceaccount.com",
  "client_id": "MISSING CLIENT ID",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-jp6so%40open-feedback-42.iam.gserviceaccount.com"
}
