{
  "type": "service_account",
  "project_id": "open-feedback-42",
  "private_key_id": "MISSING KEY ID",
  "private_key": "-----BEGIN PRIVATE KEY-----\nMIICXQIBAAKBgQCBKs2r58cP06B3MUJJsmUi7UTw7K6/nUqm8dsUcAmdUkM6ZeJF\nWWAdJCbOxBYIC2Y9BEfltNxv5sbj2DAsgmA5yBwPhmChLegxk5C4o5/MeL5ZVbXv\nDQSdjK4nXYKpv2JG0r25DRPpRdif/iBh2PSXoFBrwiJrpFt6A7GiYcRADQIDAQAB\nAoGAGBKYHi+mI8b3Iv+lMQL0YlwB+zzBHKj93rs4b0iqIg3QxbNzRiVwCj5QlTxq\nNrmZJkoD9EWOx7Qk4RXLdKAfup9s2TGUY3FpZ63iF8GvtTDvWBB/ldJUDRBugGss\nmy8mYdAbC9hKwarPYn4PDxJIkjDkPuEL940sCl2DohXa2KkCQQDmD5lPDMpVqG5E\nPjkdZp83jM4h8xBEVcxL9Rn2rtf3LioKP7iZN+RYBsg3tfHFodhVXLxF3bc6M7Yj\nawpDvXsrAkEAj7sKuf+EurhiHUaPCfyAXeWbeFkkv6xF51GJR4jG2KUbLhYLHSh7\nBjHPcd/UXBowO++KUWjI2OoHKmOG23s1pwJBANFpq4x4QQk9mrmFximMCyvegJgI\nj2sUijUt8ydHuhAmtl/D5v2ZEcJK0h9b/6p9CtWQ51PVYP6aqZWNzrcgmCcCQBWC\nCM3ihasnUk9NMrRs24yxgj1VIaGpFuDRm7hfqFndAx83XzxixV4c8Az7UJzjsloV\ns14RTxTemGnocNLBMjsCQQCJjzP0difs8O3hfcSNdOaRgS/oLRxAJdbzEQLMYSpp\nlKZqwPXKewHpT1phzxPtCnidyN7SNm4rFVPjJQydF8D7\n-----END PRIVATE KEY-----\n",
  "client_email": "fixxxx@open-feedbxxx.iam.gserviceaccount.com",
  "client_id": "MISSING CLIENT ID",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-jp6so%40open-feedback-42.iam.gserviceaccount.com"
}
