{
    "env": {
        "browser": true,
        "es6": true,
        "cypress/globals": true,
        "node": true
    },
    "plugins": ["react", "cypress"],
    "extends": [
        "react-app",
        "plugin:i18n-json/recommended"
    ],
    "rules": {
        "comma-dangle": 0,
        "react/jsx-uses-vars": 1,
        "react/display-name": 1,
        "react/prop-types": 0,
        "no-unused-vars": "warn",
        "no-console": 1,
        "no-unexpected-multiline": "warn",
        "cypress/no-assigning-return-values": "error",
        "cypress/no-unnecessary-waiting": "error",
        "i18n-json/identical-keys": [
            2,
            {
                "filePath": {
                    "admin.json": "../../../../src/admin/translations/languages/en.admin.json",
                    "feedback.json": "../../../../src/feedback/translations/languages/en.feedback.json",
                    "root.json": "../../../../src/root/translations/languages/en.root.json"
                }
            }
        ],
        "i18n-json/valid-message-syntax": [
            2,
            {
                "syntax": "non-empty-string"
            }
        ],
        "i18n-json/sorted-keys": [
            0
        ]
    },
    "overrides": [
        {
            "files": [
                "src/*.*"
            ],
            "excludedFiles": "*.spec.ts"
        }
    ]
}
